.championDetailInfo-profileContainer {
    text-align: center;
    width: 100%;
    display: flex;
    padding-top: 30px;
    background: linear-gradient(to right, #21232b, #3687e4 , #21232b);
    color: #ffffff;
}

.championDetailInfo-profile {
    width: 50%;
    padding: 50px;
}

#championDetailInfo-img {
    width: 250px;
    padding-top: 80px;
}

#champion-name {
    font-size: 50px;
}

#champion-title {
    font-size: 15px;
    padding-bottom : 30px;
}

#champion-blurb {
    margin: auto;
    width: 700px;
}

.championDetailInfo-stats {
    width: 50%;
}

.stats-contents {
    list-style: none;
    display: flex;
    width: 500px;
    box-shadow: 1px 2px 2px 1px rgb(138, 189, 236);
    margin: 5px auto;
    justify-content: center;
    background-color: #21232b;
}

.stats-contents div {
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(138, 189, 236);
}

.championDetailInfo-skillsContainer {
    background: linear-gradient(to right, #21232b, #3687e4 , #21232b);
    margin: 0;
    padding-bottom: 10px;
}

.skillsContainer-title {
    font-style: italic;
    margin: 0;
    margin-left: 30px;
    color: #ffffff;
}

.skillsContainer-descriptionBox {
    background: rgb(238, 237, 237);
    margin: 20px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(138, 189, 236);
    box-shadow: 1px 2px 2px 1px rgb(138, 189, 236);
    background: linear-gradient(to right, #c3c5ce, #dce8f7, #c3c5ce);
}

.skillsContainer-img {
    width: 64px;
    height: 64px;
    margin-left: 15px;
    margin-right: 15px;
}

.skillsContainer-description {
    padding-bottom: 15px;
}

.recommendedItem-AllContainer {
    background: linear-gradient(to right, #21232b, #3687e4 , #21232b);
}

.recommendedItem-title {
    margin: 0;
    margin-left: 30px;
    padding-top: 20px;
    font-style: italic;
    color: #ffffff;
}

#item-type {
    font-size: 20px;
    margin-left: 30px;
    color: #ffffff;
}

.recommendedItem-box {
    max-height: 900px;
    overflow-y: auto;
    padding-bottom: 50px;
}

.item-container {
    border: 1px solid rgb(138, 189, 236);
    box-shadow: 1px 2px 2px 1px rgb(138, 189, 236);
    background: linear-gradient(to right, #c3c5ce, #b4d1f3, #c3c5ce);
    display: inline-block;
    text-align: center;
    padding: 30px;
    width: 80px;
    height: 100px;
    margin: 10px;
    margin-left: 30px;
    vertical-align: middle;
}

