.DownItem {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    width: 200px;
    background: linear-gradient(to right, #c3c5ce, #bfd6ee, #c3c5ce);
    box-shadow: 0 0 5px 1px rgb(66 152 173);
    cursor: pointer;
}

#DownItem-img {
    width: 100px;
}

#DownItem-itemName {
    font-size: 16px;
}

.item-desc {
    color: #ffffff;
}