.ItemInfo-title {
    text-align: center;
    /* border: 1px dotted rgb(206, 202, 202); */
    margin: auto;
    padding: 40px;
    font-size: 25px;
    background: linear-gradient(to right, #21232b, #3687e4, #21232b);
    color: #ffffff;
}

.ItemInfo-container {
    text-align: center;
    background-color: #21232b;
    display : grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 20px;
    padding: 30px;
}

.ItemInfo-item {
    background: linear-gradient(to right, #c3c5ce, #b4d1f3, #c3c5ce);
    padding: 28px 0;
    box-shadow: 0 0 5px 1px rgb(66 152 173);
    cursor: pointer;
    font-size: 14px;
}

.item-img {
    width: 60px;
    height: 60px;
}