.search-container {
    text-align: center;
    background: linear-gradient(to right, #21232b, #3687e4, #21232b);
    color: #ffffff;
    height: 200px;
    padding: 20px;
}

/* .search-container > div {
    background-color: white;
    width: 1000px;
} */

.page-title {
    display: block;
    font-size: 40px;
    font-family: NanumGothic;
    font-weight: 500;
    padding: 20px;
}

.app-searchBox1 {
    width: 40%;
    height: 30px;
    font-size: 15px;
    vertical-align: middle;
    /* border: 3px solid black; */
    border: none;
    border-right: 2px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}

.app-searchBox2 {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-right: 2px solid grey;
    vertical-align: middle;
}

.app-searchButton {
    background-color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: nanumgothic;
}

.app-searchButton-icons {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    /* margin-bottom: 20px; */
}

.app-searchButton:hover {
    background-color: rgb(226, 221, 221);
}

.match-record {
    /* padding-top: 40px; */
    background: linear-gradient(to right, #21232b, #3687e4, #21232b);
}