.Footer-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #21232b;
    color: #ffffff;
}

.Footer-title {
    width: 100%;
    height: 15px;
    font-size: 25px;
}

.Footer-copyright {
    width: 100%;
    height: 15px;
    font-size: 15px;
}