.rotation-title {
    margin: 0 0;
    padding: 30px 0;
    text-align: center;
    background-color: #21232b;
    color: white;
}

.rotation-Container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px;
    background-color: #21232b;
}

.rotation-championImg {
    width: 100px;
    padding: 5px;
    box-shadow: 0 0 5px 1px rgb(66 152 173);
    cursor: pointer;
    margin: 5px; 
}